{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}

<header id="header">

  <h1><a class="" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>

  {% if page_paths %}
    <nav class="links">
      <ul>
        {% for path in page_paths %}
          {% assign my_page = site.pages | where: "path", path | first %}
          {% if my_page.title %}
          <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
  <nav class="main">
    <ul>
      <li class="search">
        <a class="fa-search" href="#search">Search</a>
        <form id="search" method="get" action="#">
          <input type="text" name="query" placeholder="Search" />
        </form>
      </li>
      <li class="menu">
        <a class="fa-bars" href="#menu">Menu</a>
      </li>
    </ul>
  </nav>
</header>

<!-- MENU ===================================== -->
<section id="menu">

  <!-- Search -->
    <section>
      <form class="search" method="get" action="#">
        <input type="text" name="query" placeholder="Search" />
      </form>
    </section>

  <!-- Links -->
  {% if page_paths %}
    <section>
      <ul class="links">
        {% for path in page_paths %}
          {% assign my_page = site.pages | where: "path", path | first %}
          {% if my_page.title %}
            <li>
              <a href="{{ my_page.url | relative_url }}">
                <h3>{{ my_page.title | escape }}</h3>
                <p>Feugiat tempus veroeros dolor</p>
              </a>
            </li>
        {% endif %}
      {% endfor %}
      </ul>
    </section>
  {% endif %}

  <!-- Actions -->
    <section>
      <ul class="actions vertical">
        <li><a href="#" class="button big fit">Log In</a></li>
      </ul>
    </section>

</section>
