<article class="post">
  <header>
    <div class="title">
      <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
      <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
    </div>
    <div class="meta">
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      {% assign meta_date_format = site.format.meta_date_format | default: "%Y-%m-%d" %}
      <time class="published" datetime="{{ post.date | date: meta_date_format }}">{{ post.date | date: date_format }}</time>
      <!-- <time class="published" datetime="2015-11-01">November 1, 2015</time> -->
      <a href="#" class="author"><span class="name">Jane Doe</span><img src="assets/img/avatar.jpg" alt="" /></a>
    </div>
  </header>
  <a href="{{ post.url | relative_url }}" class="image featured"><img src="assets/img/pic01.jpg" alt="" /></a>
  <p>{{ post.excerpt }}</p>
  <footer>
    <ul class="actions">
      <li><a href="{{ post.url | relative_url }}" class="button big">Continue Reading</a></li>
    </ul>
    <ul class="stats">
      <li><a href="#">General</a></li>
      <li><a href="#" class="icon fa-heart">28</a></li>
      <li><a href="#" class="icon fa-comment">128</a></li>
    </ul>
  </footer>
</article>
