<article>
  <header>
    <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
    {% assign date_format = site.format.date_format | default: "%b %-d, %Y" %}
    {% assign meta_date_format = site.format.meta_date_format | default: "%Y-%m-%d" %}
    <time class="published" datetime="{{ post.date | date: meta_date_format }}">{{ post.date | date: date_format }}</time>
  </header>
  <a href="{{ post.url | relative_url }}" class="image"><img src="assets/img/pic12.jpg" alt="" /></a>
</article>
