<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">

  {% include head.html %}

  <body {% unless page.sidebar %}class="single"{% endunless %}>
    <div id="wrapper">

      {% include header.html %}

      <main id="main" aria-label="Content">
        <!-- <div class="wrapper"> -->
        {{ content }}
        <!-- </div> -->
      </main>
      {% if page.sidebar %}
        {% include sidebar.html %}
      {% else %}
          {% include footer.html %}
      {% endif %}

    </div>
    <script src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/skel.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/util.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <!--[if lte IE 8]><script src="{{ "/assets/js/ie/respond.min.js" | prepend: site.baseurl }}" type="text/javascript"></script><![endif]-->
    <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}" type="text/javascript"></script>

  </body>

</html>
