---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <div class="title">
      <h2><a href="#">{{ page.title | escape }}</a></h2>
      <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
    </div>
    <div class="meta">
      {% assign date_format = site.format.date_format | default: "%b %-d, %Y" %}
      {% assign meta_date_format = site.format.meta_date_format | default: "%Y-%m-%d" %}
        <time class="published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <a href="#" class="author">
            <span class="name" itemprop="name">{{ page.author }}</span><img src="/assets/img/avatar.jpg" alt="" />
          </a>
        </span>
      {% endif %}
    </div>
  </header>
  <span class="image featured"><img src="/assets/img/pic01.jpg" alt="" /></span>
  <div class="" itemprop="articleBody">
    {{content}}
  </div>
  <footer>
    <ul class="stats">
      {% if page.categories %}
        <td>
          {% for category in page.categories %}
          <li><a href="#">{{ category }}</a></li>
          {% endfor %}
        </td>
      {% endif %}
      <li><a href="#" class="icon fa-heart">28</a></li>
      <li><a href="#" class="icon fa-comment">128</a></li>
    </ul>
  </footer>
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
